<ion-header [translucent]="true">

  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <link rel="stylesheet" type="text/css" href="./folder.page.scss" />
    <script type="module" src="folder/folder.page.ts"></script>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
    <!-- <ion-title></ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="map">
    <!-- <div id="container">
    <p>prueba <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    <p>eeeeeeeeee</p>
    </div> -->
  </div>
  <ion-button class="mainButton">
    <ion-icon name="add-outline"></ion-icon>
  </ion-button>  
  <ion-button class="mainButton">
    <ion-icon name="camera-outline"></ion-icon>
  </ion-button>  
  
  <p>aaaaaa</p>

</ion-content>
